

.navMenu {
    display: flex;
}
.navMenu ul{
display: flex;
list-style: none;
gap: 40px;

}
.navMenu li{
display: flex;
align-items: center;
justify-content: center;
width: 120px;
height: 45px;
position: relative;
}

.navLogo {
  margin-left: 137px;
  /* transform: translate(138px); */
}
.navLogo i{
font-size: 33px;
animation-name: desplazamiento;
animation-duration: 10s;
animation-timing-function: linear;
}
.navLogo:hover{
animation: rotation 0.7s linear;
}

@keyframes desplazamiento {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
.inicio{
    color: #dc7df3;
    font-weight: 100;
}
.link{
  text-decoration: none;
  color: #41FBFC;
  position: relative;
  z-index: 10;
}
.color{
  color: #dc7df3;
}

.button{
  width: 120px;
  height: 45px;
  position: relative;
  background: transparent;

}
.button.effect{
  color: lightyellow;
  width: 120px;
  height: 45px;
  border: none;
  z-index: 1;
}

.button.effect::after,
.button.effect::before {
  content: '';
  display: block;
  position: absolute;
  width: 10%;
  height: 10%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
  visibility: hidden;
  z-index: 2;
}
.button.effect::after {
  bottom: 0; 
  right: 0; 
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #41FBFC;
  border-right-color: #41FBFC;
  z-index: 1;
}
.button.effect::before {
  top: 0;
  left: 0; 
  border-top-color: #41FBFC;
  border-left-color: #41FBFC;
  border-bottom-color: transparent;
  border-right-color: transparent;
  z-index: 1;
}
.button.effect:hover::after,
.button.effect:hover:before {
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: 1;
}

@media (max-width: 1955px) {
  .navLogo  i {
  
      transform: translate(-95px);
  }
}
@media (max-width: 1800px) {
  .navLogo  i {
  
      display: none;
  }
}