body {
    background: radial-gradient(circle, rgba(19,17,18,1) 0%, rgba(22,2,27,1) 100%);
    width: 100%;
    height: 1200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight:900;
    color: #EEEEEE;
    margin: 0px;
    /* background-image: url('./img/26.jpg'); */

}

.containerPrincipal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr; 
    grid-template-rows: 70px 2fr; 
    grid-template-areas: 
    '. . cabecera cabecera'
    'container1 container1 container2 container2';
}


.nav{
grid-area: cabecera;
display: flex;
align-items:center;    
width: 900px;
height: 90px;
}

/* ///////////css navegacion/////////////////
///////////css navegacion///////////////// */
/* ///////////css navegacion/////////////////
///////////css navegacion///////////////// */
.contenedor1{
    border: 2px solid rgb(213, 75, 41);
    width: 900px;
    height: 900px;
    grid-area: container1;
   
}
.contenedor1 > img {
    width: 100%;
    height: 100%;
    border: 2px solid green;
    opacity: 0.05;
}

.contenedor2{
    border: 2px solid rgb(51, 255, 0);
    width: 900px;
    height: 900px;
    grid-area: container2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //css nombre //////////////// */
.primerNombre{
    font-size: 89PX;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 0%, 0 100%);
    transform: translate(6PX,0px);
}
.contenedor2Nombre{
width: 400px;
height: 200px;
}
.contenedor2Nombre:hover .primerNombre{
  transform: translateY(-10px);
  background: chartreuse;
}
.segundoNombre{
    font-size: 150PX;
    transform: translateY(65px);
}

.primerNombre2{
    font-size: 89PX;
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 100% 100%, 0 100%);
    /* transform: translate(6PX,44PX); */
    transform: translate(6PX,0px);
}
.contenedor2Nombre:hover .primerNombre2{
    transform: translateY(10px);
    background: chartreuse;
  }
.text{
    position: absolute;
    transition: 1s ease;
}
/* //css nombre //////////////// */

/* css css logos media/////////////// */
.socialLado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    transform: translate(390px, 130px);
    width: 60px;
    height: 200px;
    gap: 3px;
    /* background: turquoise; */
}
.ladoGitHub{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    transition: 2s ease;
}
.marco .ladoGitHub:hover {
    transition: 2s ease;
}


.ladoLinkedin{
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    transition: 2s ease;
}
.marco1 .ladoLinkedin:hover {
    transition: 2s ease;
}

.ladoInstagram{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    transition: 2s ease;
}
.marco2 .ladoInstagram:hover {
    transition: 2s ease;
}
.ladoTwiter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* background: chocolate; */
    font-size: 25px;
}
/* css css logos media/////////////// */
/* css css logos media/////////////// */

.palabraGitHub{
    transform: translate(-60px,-37px);
    position: absolute;
    color: transparent;
    transition: all 2s ease;
    visibility:hidden;
}
.ladoGitHub:hover {
    transform: scale(1.5);
    transition: all 2s ease;
    color: #dc7df3;
}
 .marco:hover .palabraGitHub {
   color: #EEEEEE;
   transform: translate(-90px,-37px);
   transition: all 2s ease;
   visibility: visible;
   color: #dc7df3;
} 

.palabraLinkedin{
    transform: translate(-60px,-37px);
    position: absolute;
    color: transparent;
    transition: all 2s ease;
    visibility: hidden;
}
.ladoLinkedin:hover {
    transform: scale(1.5);
    transition: all 2s ease;
    color: #dc7df3;
}
.marco1:hover .palabraLinkedin {
    color: #EEEEEE;
    transform: translate(-90px,-37px);
    transition: all 2s ease;
    visibility: visible;
    color: #dc7df3;
 } 
/* //////////instagram////////// */
.palabraInstagram{
    transform: translate(-60px,-37px);
    position: absolute;
    color: transparent;
    transition: all 2s ease;
    visibility: hidden;
}
.ladoInstagram:hover {
    transform: scale(1.5);
    transition: all 2s ease;
    color: #dc7df3;
}
.marco2:hover .palabraInstagram {
    color: #EEEEEE;
    transform: translate(-90px,-37px);
    transition: all 2s ease;
    visibility: visible;
    color: #dc7df3;
 } 
 /* //twitr///////// */
 .palabraTwiter{
    transform: translate(-60px,-37px);
    position: absolute;
    color: transparent;
    transition: all 2s ease;
    visibility: hidden;
}
.ladoTwiter:hover {
    transform: scale(1.5);
    transition: all 2s ease;
    color: #dc7df3;
}
.marco3:hover .palabraTwiter {
    color: #EEEEEE;
    transform: translate(-90px,-37px);
    transition: all 2s ease;
    visibility: visible;
    color: #dc7df3;
 } 
 