body {
    background: radial-gradient(circle, rgba(19,17,18,1) 0%, rgba(22,2,27,1) 100%);
    width: 100%;
    height: 1200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight:900;
    color: #EEEEEE;
    margin: 0px;
    /* background-image: url('http://www.simplementeavanza.com/images/stories/virtuemart/product/programacion_con_javascript.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3; */
}

.containerPrincipal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr; 
    grid-template-rows: 70px 2fr; 
    grid-template-areas: 
    '. . cabecera cabecera'
    'container1 container1 container2 container2';
}


.nav{
grid-area: cabecera;
display: flex;
align-items:center;    
width: 900px;
height: 90px;
}

/* ///////////css navegacion/////////////////
///////////css navegacion///////////////// */
/* ///////////css navegacion/////////////////
///////////css navegacion///////////////// */
.contenedor1{
    width: 900px;
    height: 900px;
    grid-area: container1;
    display: flex;
    gap: 10px;
    margin-left: 10px;
   
}
.contenedor2{
    width: 900px;
    height: 900px;
    grid-area: container2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* //////////////////css contenedor 1//////////////////// */
.cuadroImagen1{
    width: 100px;
    height: 680px;
    overflow:hidden;
}
.cuadroImagen1 img {
    transform: translate(-236px, 0px);
    opacity: 0.4;

}
.cuadroImagen2{
    width: 100px;
    height: 620px;
    overflow: hidden;
    transform: translate(0px, 30px);
}
.cuadroImagen2 img {
    transform: translate(-336px, -30px);
    opacity: 0.3;
}
.cuadroImagen3{
    width: 100px;
    height: 560px;
    overflow: hidden;
    transform: translate(0px, 60px);
}
.cuadroImagen3 img {
    transform: translate(-438px, -60px);
    opacity: 0.2;
}
.cuadroImagen4{
    width: 100px;
    height: 500px;
    transform: translate(0px, 90px);
    overflow: hidden;
}
.cuadroImagen4 img {
    transform: translate(-540px, -90px);
    opacity: 0.1;
}
.cuadroImagen5{
    width: 100px;
    height: 700px;
}
.cuadroImagen6{
    width: 100px;
    height: 600px;
}
.cuadroImagen7{
    width: 100px;
    height: 600px;
}
.cuadroImagen8{
    width: 100px;
    height: 500px;
}