

@font-face {
    font-family: exclusive;
    src: url('../font/HEADWAY.woff');
    font-family: singo;
    src: url('../font/Singo\ Regular.woff');
}
.container-body{
    background: radial-gradient(circle 300px at top left, #a94fb9 , #0D606B );
    background-repeat: no-repeat;
   
   width: 100%;
   height: 980px;
 
}

.container{
    display: flex;
    background: #222831;
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
   transform: translate(0px, 30px);
    box-shadow: -10px 10px 34px -3px #222831, 
    -10px 10px 1px -11px #222831;
    border-radius: 8px;
    animation-name: desvanecer-container;
    animation-duration: 5s;
    animation-timing-function: linear;
    
}







@keyframes desvanecer-container {
from{
opacity: 0;
}
to{
opacity: 1;
}
}
.marco10{
    width: 850px;
    height: 850px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}

.logo {
    color: #41FBFC;
    position: absolute;
    font-size: 30px;
    transform: translate(0,-20px);
}
.logo2{
    position: absolute;
    color: #41FBFC;
    transform: translate(262px,-14px);
    border-top: 2px solid #dc7df3;
}

.cuadro10 {
    display: flex;
    width: 520px;
    height: 220px;
    transform: translate(-65px , 0px);
}
.cuadro20 {
    width: 320px;
    height: 220px;
   
    transform: translate(30px);
    color: #EEEEEE;
    transform: translate(-15px , -15px);
}

.cajaMail {
width: 320px;
height: 132px;
}

.cajaSocial {
    width: 320px;
    height: 94px;
    transform: translate(80px , 20px);
    
}


.cuadro30 {
    display: flex;
    width: 850px;
    height: 650px;
   flex-wrap: wrap;
}

/* ////////stylo contenedor 4 ///////////////////////////// */
.contenedor4-interno{
    width: 400px;
    height: 48px;
    border: 2px solid #EEEEEE;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:  15px;
    border-top-right-radius: 15px;
    transform: translateY(45px);
    display: flex;
    align-items: center;
}
.div-contenedor4-pega{
    position:absolute;
    border: 2px solid #EEEEEE;
    border-bottom: none;
    width: 170px;
    height: 30px;
    transform: translate(0,13px);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: #393e46;
   
    display: flex;
    align-items: center;
}
.div-contenedor4-pega i{
    color: #dc7df3;
    font-size: 30px;
    transform: translate(2px, -6px);
}
.div-contenedor4-pega span{
    color: #dc7df3;
    font-size: 20px;
    font-weight: 700;
    transform: translate(10px);
}


.btn-cv i {
position: absolute;
font-size: 50px;
width: 50px;
height: 50px;
color: #dc7df3;
transform: translate(-160px);
cursor: pointer;
border-radius: 50px;
animation: pulse 1500ms infinite;
}
@keyframes pulse {
    0% {
        box-shadow: #dc7df3 0 0 0 0 ;
    }
    75% {
        box-shadow: #fd701400 0 0 0 20px ;
    }
}

.botonCv-1 {
    width: 200px;
    height: 60px;
    background: transparent;
    border: 2px solid #dc7df3;
    border-radius: 10px / 10px;
    transform: translate(-530px, 260px);
    color: #41FBFC;
    font-size: 30px;
    transition: all 1.5s;
    position: absolute;
    right: 0;
    top: 0;

    animation-name: desvanecer-container;
    animation-duration: 5s;
    animation-timing-function: linear;
}

.botonCv-1:hover {
transition: all 1.5s;
border: 2px solid #41FBFC;
color: #dc7df3;
cursor: pointer;
background: rgba(255, 255, 255, 200);
}
.botonCv-1 > a {
   text-decoration: none;
   color: #41FBFC;}

  
@media (max-width: 2000px) {
      
    .botonCv-1 {
        transform: translate(-510px, 260px); 
    }
}
@media (max-width: 1850px) {
      
    .botonCv-1 {
        transform: translate(-450px, 260px); 
    }
}
@media (max-width: 1450px) {
      
    .botonCv-1 {
        transform: translate(-240px, 260px); 
    }
}
@media (max-width: 1040px) {
      
    .botonCv-1 {
        transform: translate(-40px, 260px); 
    }
}