

.primerNombre{
    font-size: 89PX;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 0%, 0 100%);
    transform: translate(6PX,0px);
}
.contenedor2Nombre{
width: 400px;
height: 200px;
}
.contenedor2Nombre:hover .primerNombre{
  transform: translateY(-10px);
  /* background: chartreuse; */
}
.segundoNombre{
    font-size: 150PX;
    transform: translateY(65px);
}

.primerNombre2{
    font-size: 89PX;
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 100% 100%, 0 100%);
    /* transform: translate(6PX,44PX); */
    transform: translate(6PX,0px);
}
.contenedor2Nombre:hover .primerNombre2{
    transform: translateY(10px);
    /* background: chartreuse; */
  }
.text{
    position: absolute;
    transition: 1s ease;
}
/* //css nombre //////////////// */

/* css css logos media/////////////// */
.socialLado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    transform: translate(390px, 220px);
    width: 60px;
    height: 200px;
    gap: 3px;
    /* background: turquoise; */
}

 /* ////////////////////////////////// */
 /* ///////////////SUPERIOR NOMBRE///// */
 .complemento{
     display: flex;
     align-items: center;
     
 }

 .complemento h1{
   margin: 0px;
   font-size: 35px;
   transform: translate(20px, 15px);
}
.complemento span {
    font-size: 40px;
    transform: translate(7px, 10px);
}
.front-end{
    transform: translate(12px, 60px);
    color: #dc7df3;
    animation: showText 10s linear;
}
@keyframes showText {

    0%{
        transform: translate(-1900px) scale(4, 4);
        opacity: 1;

    }
    50%{
        transform: translate(1400px) scale(4, 4);
        opacity: 1;
    }
    75%{
        transform: translate(-1000px) scale(4, 4);
        text-shadow: none;
        color: transparent;
        opacity: 0.6;
    }
    100%{
        transform: translate(0) scale(1, 1);
        opacity: 1;
    }



}
@media (max-width: 1955px) {
    .socialLado {
      
        transform: translate(300px, 220px);
    }
}
@media (max-width: 1800px) {
    .socialLado {
        /* position: absolute; */
      /* left: 0; */
        transform: translate(-1410px, 70px);
    }
}

@media (max-width: 1714px) {
    .contenedor2Nombre{
      /* position: absolute; */
        transform: translate(-100px);
        
    }
}
@media (max-width: 1612px) {
    .contenedor2Nombre{
      /* position: absolute; */
        transform: translate(-150px);
        
    }
}
@media (max-width: 1564px) {
    .contenedor2Nombre{
      /* position: absolute; */
        transform: translate(-180px);
        
    }
}
@media (max-width: 1525px) {
    .contenedor2Nombre{
      display: none;
    }
}
