
.ladoGitHub{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    transition: 2s ease;
    color: #41FBFC;
}
.marco .ladoGitHub:hover {
    transition: 2s ease;
}

.ladoLinkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    transition: 2s ease;
    color: #41FBFC;
}
.marco1 .ladoLinkedin:hover {
    transition: 2s ease;
}

.ladoInstagram{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    transition: 2s ease;
}
.marco2 .ladoInstagram:hover {
    transition: 2s ease;
}
.ladoTwiter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
}
/* css css logos media/////////////// */
/* css css logos media/////////////// */

.palabraGitHub a{
    transform: translate(-60px,-40px);
    position: absolute;
    color: transparent;
    transition: all 2s ease;
    visibility:hidden;
    color: #41FBFC;
    transition: all 2s ease;
}
.ladoGitHub:hover {
    transform: scale(1.5);
    transition: all 2s ease;
    color: #dc7df3;
}
.marco{
    width: 50px;
    height: 50px;
}
.marco a{
    list-style: none;
    text-decoration: none;
    }
 .marco:hover .palabraGitHub a {
   transform: translate(-90px,-40px);
   transition: all 2s ease;
   visibility: visible;
   color: #dc7df3;
} 
/* //////////////////////////////////// */
.palabraLinkedin a{
    transform: translate(-70px,-37px);
    position: absolute;
    color: transparent;
    transition: all 2s ease;
    visibility:hidden;
    color: #41FBFC;
}

.ladoLinkedin:hover {
    transform: scale(1.5);
    transition: all 2s ease;
    color: #dc7df3;
}
.marco1 a{
    list-style: none;
    text-decoration: none;
    }
.marco1 i{
    color: #41FBFC;
        }
.marco1:hover .palabraLinkedin a{
    transform: translate(-90px,-37px);
    transition: all 2s ease;
    visibility: visible;
    color: #dc7df3;
 } 
/* //////////instagram////////// */
.palabraInstagram a{
    transform: translate(-80px,-39px);
    position: absolute;
    color: transparent;
    transition: all 2s ease;
    visibility:hidden;
    color: #41FBFC;
    transition: all 2s ease;
}
.ladoInstagram:hover {
    transform: scale(1.5);
    transition: all 2s ease;
    color: #dc7df3;
}
.marco2 a{
    list-style: none;
    text-decoration: none;
    }
.marco2 i{
    color: #41FBFC;
        }
.marco2:hover .palabraInstagram a{
    transform: translate(-95px,-39px);
    transition: all 2s ease;
    visibility: visible;
    color: #dc7df3;
 } 
 .palabraTwiter a{
    transform: translate(-60px,-37px);
    position: absolute;
    color: transparent;
    transition: all 2s ease;
    visibility:hidden;
    color: #41FBFC;
}
.marco3 a{
    list-style: none;
    text-decoration: none;
    }
.marco3 i{
    color: #41FBFC;
        }
.ladoTwiter:hover {
    transform: scale(1.5);
    transition: all 2s ease;
    color: #dc7df3;
}
.marco3:hover .palabraTwiter a{
    transform: translate(-90px,-37px);
    transition: all 2s ease;
    visibility: visible;
    color: #dc7df3;
 } 