

.div-certificados{
    width: 400px;
    height: 465px;
    border: 2px solid #EEEEEE;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:  15px;
    border-top-right-radius: 15px;
    transform: translate(52px, 82px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.div-certificados-pega{
    position:absolute;
    border: 2px solid #EEEEEE;
    border-bottom: none;
    width: 170px;
    height: 30px;
    transform: translate(-115px,-250px);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: #393e46;
    display: flex;
    align-items: center;
}
.div-certificados-pega i{
    color: #dc7df3;
    font-size: 30px;
    transform: translate(2px, -5px);
}
.div-certificados-pega span{
    color: #dc7df3;
    font-size: 20px;
    font-weight: 700;
    transform: translate(10px);
}
.certificado-circulo{
    width: 35px;
    height: 35px;
    border: 2px solid #fd7014;
    background: #171717;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.certificado-cuadro{
width: 10px;
height: 10px;
background: #fd7014;
}
.traslatecirculo{
    transform: translate(-174px, -201px);
}
.traslatecirculo1{
    transform: translate(-174px, -124px);
}
.traslatecirculo2{
    transform: translate(-174px, -48px);
}
.traslatecirculo3{
    transform: translate(-174px, 4px);
}
.traslatecirculo4{
    transform: translate(-174px, 63px);
}
.traslatecirculo5{
    transform: translate(-174px, 120px);
}
.traslatecirculo6{
    transform: translate(-174px, 180px);
}



.certificado-interno{
    width: 370px;
    height: 417px;
    border: 2px solid #fd7014;
    /* transform: translate(11px, -11px); */
    /* border-bottom: none;
    border-top: none;
    border-right: none; */
    /* display: flex;
    flex-direction: column; */
   
    /* align-items: baseline; */
    /* justify-content: space-around; */
    gap: 10px;
}
.certificadoCaja1{
    width: 350px;
    height: 90px;
    border: 2px solid blue;
    transform: translate(20px);
    color: #EEEEEE;
}

.certificadoCaja2{
    width: 350px;
    height: 90px;
    border: 2px solid blue;
    transform: translate(20px);
    color: #EEEEEE;
    
}

.certificadoCaja2 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}
.certificadoCaja3{
    width: 350px;
    height: 90px;
    border: 2px solid blue;
    transform: translate(20px, 0px);
    color: #EEEEEE;
    
}

.certificadoCaja3 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}

.certificadoCaja4{
    width: 350px;
    height: 90px;
    /* border: 2px solid blue; */
    /* transform: translate(20px, -40px); */
    /* color: #EEEEEE; */
    
}

.certificadoCaja4 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}

.certificadoCaja5{
    width: 350px;
    height: 90px;
    /* border: 2px solid blue; */
    /* transform: translate(20px, -71px); */

   
}

.certificadoCaja5 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}
.certificadoCaja6{
    width: 350px;
    height: 90px;
    /* border: 2px solid blue; */
    /* transform: translate(20px, -102px); */
  
   
}

.certificadoCaja6 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}
.certificadoCaja7{
    width: 350px;
    height: 90px;
  
    
    
}
.certificadoCaja7 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}