

.div-certificados{
    width: 400px;
    height: 465px;
    border: 2px solid #EEEEEE;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:  15px;
    border-top-right-radius: 15px;
    transform: translate(52px, 82px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.certificado-interno{
    width: 370px;
    height: 417px;
    /* border: 2px solid #2ffd14; */
    /* transform: translate(11px, -11px); */
    /* border-bottom: none;
    border-top: none;
    border-right: none; */
    /* display: flex;
    flex-direction: column; */
   
    /* align-items: baseline; */
    /* justify-content: space-around; */
    gap: 10px;
}

/* css nuevo//////////////////// */
.slider{
    display: flex;
    max-width: 370px;
    height: 417px;
    width: 100%;
    flex-direction: column;
    align-items: center
    ;
    /* overflow-x: scroll;
    scroll-snap-type: x mandatory; */
}
.slider > h2 {
    color: #EEEEEE;
}
.slider > a {
    display: flex;
    max-width: 370px;
    height: 417px;
    /* width: 100%; */


}

.slider > a > img {
    width: 100%;
    object-fit: contain;
     /* border-radius: 2px;  */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5);  */
    /* scroll-snap-align: center; */
}
/* .slider-icons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    color: #dc7df3;
    font-size: 30px;
    
}
.slider-icons > i {
    cursor: pointer;
    transition: all 0.5s;
}
.slider-icons > i:hover {
    transform: scale(1.3);
    transition: all 0.5s;
} */

.arrow-1,
.arrow-1::before{
  position: absolute;
  left: 50%;
  
}

.arrow-1{
  width: 20px;
  height: 20px;
  left: 68%;
  /* top: 68%; */
  margin: -20px 0 0 -20px;
  /* -webkit-transform: rotate(45deg); */
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
   cursor: pointer;
   transform: translate(-200px) rotate(140deg);
}

  
.arrow-1:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow-1;
}

  
@keyframes arrow-1 {
    0%{
    opacity: 1;}
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);}
}
.arrow-2,
.arrow-2::before{
  position: absolute;
  left: 50%;
  
}

.arrow-2{
    /* position: absolute; */
    width: 20px;
    height: 20px;
    left: 68%;
    /* top: 68%; */
    margin: -20px 0 0 -20px;
    /* -webkit-transform: rotate(45deg); */
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
     cursor: pointer;
     transform: translate(80px) rotate(320deg);
  }
  
    
  .arrow-2:before {
      content: '';
      width: 20px;
      height: 20px;
      top: 50%;
      margin: -10px 0 0 -10px;
      border-left: none;
      border-top: none;
      border-right: 1px #fff solid;
      border-bottom: 1px #fff solid;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: arrow-2;
  }
  
    
  @keyframes arrow-2 {
      0%{
      opacity: 1;}
    100%{
      opacity: 0;
      transform: translate(-10px, -10px);}
  }


/* css nuevo//////////////////// */













/* css viejo}}}}}}}}}}}}}}}} */




.div-certificados-pega{
    position:absolute;
    border: 2px solid #EEEEEE;
    border-bottom: none;
    width: 170px;
    height: 30px;
    transform: translate(-115px,-250px);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: #393e46;
    display: flex;
    align-items: center;
}
.div-certificados-pega i{
    color: #dc7df3;
    font-size: 30px;
    transform: translate(2px, -5px);
}
.div-certificados-pega span{
    color: #dc7df3;
    font-size: 20px;
    font-weight: 700;
    transform: translate(10px);
}
.certificado-circulo{
    width: 35px;
    height: 35px;
    border: 2px solid #fd7014;
    background: #171717;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.certificado-cuadro{
width: 10px;
height: 10px;
background: #fd7014;
}
.traslatecirculo{
    transform: translate(-174px, -201px);
}
.traslatecirculo1{
    transform: translate(-174px, -124px);
}
.traslatecirculo2{
    transform: translate(-174px, -48px);
}
.traslatecirculo3{
    transform: translate(-174px, 4px);
}
.traslatecirculo4{
    transform: translate(-174px, 63px);
}
.traslatecirculo5{
    transform: translate(-174px, 120px);
}
.traslatecirculo6{
    transform: translate(-174px, 180px);
}




.certificadoCaja1{
    width: 350px;
    height: 90px;
    border: 2px solid blue;
    transform: translate(20px);
    color: #EEEEEE;
}

.certificadoCaja2{
    width: 350px;
    height: 90px;
    border: 2px solid blue;
    transform: translate(20px);
    color: #EEEEEE;
    
}

.certificadoCaja2 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}
.certificadoCaja3{
    width: 350px;
    height: 90px;
    border: 2px solid blue;
    transform: translate(20px, 0px);
    color: #EEEEEE;
    
}

.certificadoCaja3 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}

.certificadoCaja4{
    width: 350px;
    height: 90px;
    /* border: 2px solid blue; */
    /* transform: translate(20px, -40px); */
    /* color: #EEEEEE; */
    
}

.certificadoCaja4 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}

.certificadoCaja5{
    width: 350px;
    height: 90px;
    /* border: 2px solid blue; */
    /* transform: translate(20px, -71px); */

   
}

.certificadoCaja5 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}
.certificadoCaja6{
    width: 350px;
    height: 90px;
    /* border: 2px solid blue; */
    /* transform: translate(20px, -102px); */
  
   
}

.certificadoCaja6 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}
.certificadoCaja7{
    width: 350px;
    height: 90px;
  
    
    
}
.certificadoCaja7 a{
    /* margin: 0px; */
    /* margin-left: 20px; */
    /* display: block; */
    text-decoration: none; 
    color: #fd7014;   /* margin-top: 10px; */
}